<ion-header class="header">
  <table class="tabHeader">
    <thead>
      <tr class="rowHead">
        <th class="div-header-left1"><ion-icon name="information-circle-outline"></ion-icon>Como funciona</th>
        <th class="div-header-left2">
          <ion-icon name="logo-whatsapp"></ion-icon>
          0800 123 2222
          <br>
          Envie mensagem ou ligue
        </th>
        <th class="div-header-titulo"><a>Titulo</a></th>
        <th class="div-header-right">Nome Sobrenome<ion-icon name="contact"></ion-icon></th>
      </tr>
    </thead>
  </table>
</ion-header>

<ion-content class="content">

<table class="tableMenu">
  <thead class="headMenu">
    <tr>
      <a class="aMenu" href="">Minha conta</a>
      <a class="aMenu" href="">Pré-matriculas</a>
      <a class="aMenu" href="">Bolsas favoritas</a>
    </tr>
  </thead>
</table>

<table class="tabEnd">
  <thead class="headEnd">
    <th class="thEnd"><a class="aEnd" href="">Home</a>/</th>
    <th class="thEnd"><a class="aEnd" href="">Minha conta</a>/</th>
    <th class="thEnd">Bolsas favoritas</th>
  </thead>
</table>

<div>
  <h1 class="negrito">Bolsas favoritas</h1>
  <p class="divDesc">Adicione bolsas de cursos e faculdades do seu interesse e receba atualizações com as melhores ofertas disponíveis.</p>
</div>

<table class="tableSemestre">
  <thead class="headSemestre">
    <!-- <tr class="semestres"> -->
      <a class="semestres" >Todos os semestres</a>
      <a class="semestres" href="">2º semestre de 2019</a>
      <a class="semestres" href="">1º semestre de 2019</a>
    <!-- </tr> -->
  </thead>
</table>

<ion-card>
  <ion-card-header>
    <ion-button fill="clear" (click)="presentModal()">
      <ion-icon slot="icon-only" class="iconCard" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-card-header>
  <ion-card-content>
      <ion-card-title>Adicionar bolsa</ion-card-title>
      <ion-card-subtitle>Clique para adicionar bolsas de cursos do seu interesse</ion-card-subtitle>
  </ion-card-content>
</ion-card>

</ion-content>

<ion-footer class="footer1">
  <table class="tabFooter1">
    <thead>
      <tr>
        <th>
          <div class="divFooter1">
            0800 123 2222
            <br>
            Seg - Sex 8h-22h
          </div>
        </th>
        <th>
          <div class="divFooter1">
            Chat ao vivo
            <br>
            Seg - Sex 8h-22h
          </div>
        </th>
        <th>
          <div class="divFooter1">
            Mande um e-mail
            <br>
            Respondemos rapidinho
          </div>
        </th>
        <th>
          <div class="divFooter1">
            Central de ajuda
            <br>
            Encontre todas as respostas
          </div>
        </th>
      </tr>
    </thead>
  </table>
</ion-footer>

<ion-footer class="footer2">
    <ion-title class="titleFooter2">Feito com <ion-icon name="heart-empty"></ion-icon> pela Quero Educação</ion-title>
</ion-footer>