<ion-header class="header">
  <ion-toolbar>
    <ion-title>
      <div class="div-header">Como funciona</div>
      <div class="div-header">
        <i class="fab fa-whatsapp"></i>
        0800 123 2222
        <br>
        Envie mensagem ou ligue
      </div>
      <div class="div-header">Titulo</div>
      <div class="div-header">Nome Sobrenome</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->

<!-- <table>
  <thead>
    <tr class="barraCentral">
      <th><a href="">Minha conta</a></th>
      <th>Pré-matriculas</th>
      <th>Bolsas favoritas</th>
    </tr>
  </thead>
</table> -->

<table class="tableMenu">
  <thead>
    <tr>
      <a href="">Minha conta</a>
      <a href="">Pré-matriculas</a>
      <a href="">Bolsas favoritas</a>
    </tr>
  </thead>
</table>

<div>
  <h1 class="negrito">Bolsas favoritas</h1>
  <p>Adicione bolsas de cursos e faculdades do seu interesse e receba atualizações com as melhores ofertas disponíveis.</p>
</div>

<ion-card>
  <ion-card-header>
    <ion-icon class="iconCard" name="add-circle-outline"></ion-icon>    
  </ion-card-header>
  <ion-card-content>
      <ion-card-title>Adicionar bolsa</ion-card-title>
      <ion-card-subtitle>Clique para adicionar bolsas de cursos do seu interesse</ion-card-subtitle>
  </ion-card-content>
</ion-card>

</ion-content>

<ion-footer class="footer1">
    <!-- <ion-title>Footer 1</ion-title> -->
  <div>
    <div>
      <div></div>
      <div>
        <div>0800 123 2222</div>
        <div>Seg - Sex 8h-22h</div>
      </div>
    </div>
    <div>
      <div></div>
      <div>
        <div>Chat ao vivo</div>
        <div>Seg - Sex 8h-22h</div>
      </div>
    </div>
    <div>
      <div></div>
      <div>
        Mande um e-mail
      </div>
      <div>Respondemos rapidinho</div>
    </div>
    <div>
      <div></div>
      <div>
        Central de ajuda
      </div>
      <div>Encontre todas as respostas</div>
    </div>
  </div>
</ion-footer>

<ion-footer class="footer2">
    <ion-title class="titleFooter2">Feito com <ion-icon name="heart-empty"></ion-icon> pela Quero Educação</ion-title>
</ion-footer>